<div class="container">
  <nav>
    <h2>Books</h2>
    <input type="text" ng-model="BooksNameSearch">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">User</a>
    <div class="dropdown-menu">
        <div class="dropdown-item"></div>
        <div class="dropdown-divider"></div>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">SignOut</a>
      </div>
  </nav>
  <div class="card-group vgr-cards" *ngFor="let itemBooks of books">
      <div class="card">
        <div class="card-img-body">
        <img class="card-img" src={{itemBooks.img}} alt="Card image cap">
        </div>
        <div class="card-body">
          <h4 class="card-title">{{itemBooks.name}}</h4>
          
          <StarRate [rate]=itemBooks.rate [disableRate]=5-itemBooks.rate></StarRate>
          <a href="#" class="btn btn-outline-primary">Buy</a>
        </div>
      </div>
  </div>
 
</div>
<footer>dd</footer>

